#Links

## Day 1
https://adventofcode.com/2024/day/1``

--- Day 1: Historian Hysteria ---

The Chief Historian is always present for the big Christmas sleigh launch, but nobody has seen him in months! Last anyone heard, he was visiting locations that are historically significant to the North Pole; a group of Senior Historians has asked you to accompany them as they check the places they think he was most likely to visit.

As each location is checked, they will mark it on their list with a star. They figure the Chief Historian must be in one of the first fifty places they'll look, so in order to save Christmas, you need to help them get fifty stars on their list before Santa takes off on December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

You haven't even left yet and the group of Elvish Senior Historians has already hit a problem: their list of locations to check is currently empty. Eventually, someone decides that the best place to check first would be the Chief Historian's office.

Upon pouring into the office, everyone confirms that the Chief Historian is indeed nowhere to be found. Instead, the Elves discover an assortment of notes and lists of historically significant locations! This seems to be the planning the Chief Historian was doing before he left. Perhaps these notes can be used to determine which locations to search?

Throughout the Chief's office, the historically significant locations are listed not by name but by a unique number called the location ID. To make sure they don't miss anything, The Historians split into two groups, each searching the office and trying to create their own complete list of location IDs.

There's just one problem: by holding the two lists up side by side (your puzzle input), it quickly becomes clear that the lists aren't very similar. Maybe you can help The Historians reconcile their lists?

For example:

3   4

4   3

2   5

1   3

3   9

3   3


Maybe the lists are only off by a small amount! To find out, pair up the numbers and measure how far apart they are. Pair up the smallest number in the left list with the smallest number in the right list, then the second-smallest left number with the second-smallest right number, and so on.

Within each pair, figure out how far apart the two numbers are; you'll need to add up all of those distances. For example, if you pair up a 3 from the left list with a 7 from the right list, the distance apart is 4; if you pair up a 9 with a 3, the distance apart is 6.

In the example list above, the pairs and distances would be as follows:

- The smallest number in the left list is 1, and the smallest number in the right list is 3. The distance between them is 2.
- The second-smallest number in the left list is 2, and the second-smallest number in the right list is another 3. The distance between them is 1.
- The third-smallest number in both lists is 3, so the distance between them is 0.
- The next numbers to pair up are 3 and 4, a distance of 1.
- The fifth-smallest numbers in each list are 3 and 5, a distance of 2.
- Finally, the largest number in the left list is 4, while the largest number in the right list is 9; these are a distance 5 apart.

To find the total distance between the left list and the right list, add up the distances between all of the pairs you found. In the example above, this is 2 + 1 + 0 + 1 + 2 + 5, a total distance of 11!

Your actual left and right lists contain many location IDs. What is the total distance between your lists?

In [1]:
#library :
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [47]:
#Fonctions borrowed :
#https://labex.io/fr/tutorials/python-convert-number-to-digit-list-in-python-13623
def digitize(n):
  return pd.DataFrame(list(map(int, str(n))))

In [48]:
#1 download list
list_ID = pd.read_table("input_d01.txt", header=None, names=['colA', 'colB'], sep=r"\s+")

In [49]:
list_ID.head()

    colA   colB
0  53906  14872
1  35867  86182
2  61313  43656
3  23620  85315
4  96434  90834

In [50]:
list_ID.shape

(1000, 2)

In [51]:
list_ID.iloc[0]

colA    53906
colB    14872
Name: 0, dtype: int64

In [52]:
x = list_ID.iloc[0]

In [53]:
x[0]

53906

In [73]:
digitize(x[0])

   0
0  5
1  3
2  9
3  0
4  6

In [77]:
list1 = sorted(digitize(x[0])[0])
list1

[0, 3, 5, 6, 9]

In [78]:
list2 =  sorted(digitize(x[1])[0])
list2

[1, 2, 4, 7, 8]

In [80]:
diff = [abs(a - b) for a, b in zip(list1, list2)]
diff

[1, 1, 1, 1, 1]

In [81]:
sum(diff)

5

In [89]:
#2 distance function between 2 numbers
def distance_btw_ID(x):
    #x is a list of 2 group of numbers
    # First we sort them
    list1 = sorted(digitize(x[0])[0])
    list2 =  sorted(digitize(x[1])[0])
    
    #Them we do the diff betweeneach paar of element
    diff = [abs(a - b) for a, b in zip(list1, list2)]
    
    return sum(diff)

In [90]:
distance_btw_ID(x)

5

In [93]:
res_list = []
for i in range(list_ID.shape[0]):
        x = list_ID.iloc[i]
        res =  distance_btw_ID(x)
        res_list.append(res)

In [94]:
res_list

[5,
 6,
 10,
 9,
 6,
 6,
 13,
 3,
 5,
 7,
 4,
 6,
 11,
 10,
 4,
 9,
 10,
 14,
 16,
 7,
 6,
 6,
 5,
 7,
 15,
 8,
 9,
 13,
 11,
 12,
 4,
 3,
 5,
 12,
 10,
 11,
 3,
 11,
 20,
 8,
 8,
 12,
 8,
 8,
 7,
 6,
 11,
 12,
 14,
 10,
 9,
 9,
 16,
 6,
 9,
 13,
 11,
 6,
 9,
 13,
 4,
 6,
 10,
 8,
 14,
 6,
 9,
 6,
 3,
 13,
 7,
 5,
 14,
 15,
 12,
 3,
 10,
 8,
 10,
 17,
 10,
 7,
 23,
 7,
 5,
 17,
 8,
 13,
 6,
 13,
 7,
 10,
 16,
 11,
 7,
 10,
 4,
 8,
 10,
 4,
 10,
 9,
 6,
 13,
 6,
 7,
 10,
 17,
 6,
 12,
 8,
 13,
 7,
 10,
 10,
 7,
 7,
 9,
 6,
 4,
 6,
 11,
 5,
 4,
 10,
 9,
 4,
 11,
 8,
 10,
 8,
 16,
 7,
 8,
 8,
 7,
 6,
 16,
 5,
 5,
 5,
 13,
 8,
 8,
 9,
 6,
 7,
 5,
 11,
 9,
 6,
 20,
 6,
 6,
 16,
 8,
 5,
 7,
 6,
 4,
 5,
 4,
 10,
 5,
 11,
 4,
 16,
 9,
 12,
 10,
 5,
 7,
 21,
 13,
 3,
 7,
 8,
 11,
 15,
 11,
 10,
 4,
 10,
 16,
 13,
 19,
 9,
 13,
 8,
 11,
 25,
 12,
 8,
 9,
 9,
 15,
 7,
 3,
 8,
 7,
 18,
 4,
 1,
 8,
 9,
 6,
 13,
 12,
 4,
 9,
 9,
 9,
 12,
 10,
 8,
 3,
 3,
 14,
 21,
 2,
 10,
 10,
 5,
 11,
 5,
 24,
 19,
 8,
 5,
 12,
 6,
 7,
 21,
 3,
 4,
 12,
 6,
 10,
 11,
 8,
 14,
 3,
 7,
 13,
 8,
 1,
 6,
 7,
 4,
 11,
 4,
 16,
 4,
 3,
 5,
 11,
 5,
 5,
 14,
 11,
 10,
 14,
 13,
 7,
 14,
 16,
 19,
 12,
 12,
 6,
 10,
 11,
 19,
 9,
 14,
 22,
 12,
 5,
 10,
 6,
 8,
 11,
 3,
 14,
 2,
 3,
 4,
 12,
 5,
 9,
 17,
 20,
 12,
 6,
 9,
 7,
 7,
 5,
 10,
 6,
 1,
 9,
 7,
 11,
 5,
 6,
 18,
 6,
 7,
 3,
 22,
 15,
 13,
 10,
 4,
 3,
 12,
 4,
 3,
 14,
 8,
 10,
 4,
 7,
 2,
 4,
 8,
 6,
 11,
 11,
 7,
 13,
 5,
 8,
 6,
 7,
 12,
 3,
 8,
 7,
 14,
 5,
 10,
 5,
 11,
 3,
 15,
 9,
 12,
 7,
 11,
 9,
 5,
 8,
 4,
 11,
 20,
 18,
 7,
 13,
 15,
 4,
 10,
 11,
 9,
 10,
 5,
 25,
 10,
 13,
 9,
 16,
 10,
 22,
 5,
 12,
 17,
 15,
 10,
 20,
 14,
 6,
 3,
 4,
 7,
 8,
 14,
 25,
 8,
 9,
 20,
 8,
 14,
 9,
 10,
 9,
 12,
 9,
 8,
 12,
 4,
 14,
 7,
 9,
 5,
 10,
 5,
 13,
 16,
 7,
 9,
 8,
 15,
 4,
 7,
 9,
 4,
 10,
 4,
 17,
 4,
 12,
 16,
 10,
 6,
 3,
 3,
 15,
 8,
 17,
 8,
 9,
 4,
 13,
 6,
 11,
 17,
 13,
 9,
 8,
 10,
 7,
 9,
 10,
 17,
 8,
 9,
 6,
 15,
 3,
 18,
 8,
 12,
 6,
 6,
 19,
 12,
 16,
 11,
 13,
 4,
 10,
 8,
 7,
 12,
 14,
 13,
 10,
 7,
 19,
 6,
 9,
 12,
 7,
 7,
 9,
 11,
 3,
 5,
 6,
 8,
 10,
 13,
 18,
 8,
 13,
 7,
 6,
 4,
 7,
 8,
 4,
 18,
 15,
 18,
 7,
 6,
 9,
 14,
 6,
 16,
 14,
 4,
 8,
 8,
 3,
 9,
 11,
 12,
 6,
 8,
 22,
 6,
 10,
 9,
 7,
 3,
 8,
 10,
 7,
 3,
 10,
 3,
 5,
 7,
 21,
 6,
 6,
 2,
 10,
 18,
 7,
 14,
 9,
 5,
 7,
 8,
 10,
 8,
 6,
 3,
 9,
 19,
 7,
 20,
 5,
 9,
 3,
 7,
 3,
 13,
 26,
 9,
 9,
 15,
 6,
 11,
 7,
 14,
 11,
 13,
 6,
 6,
 14,
 9,
 10,
 9,
 13,
 4,
 9,
 5,
 3,
 8,
 5,
 6,
 8,
 9,
 11,
 11,
 12,
 6,
 9,
 12,
 10,
 14,
 10,
 9,
 4,
 12,
 19,
 4,
 9,
 9,
 16,
 14,
 13,
 7,
 5,
 4,
 10,
 4,
 8,
 3,
 7,
 3,
 7,
 7,
 12,
 13,
 8,
 11,
 6,
 11,
 6,
 15,
 11,
 3,
 5,
 6,
 9,
 19,
 8,
 8,
 6,
 8,
 8,
 22,
 10,
 15,
 10,
 9,
 6,
 4,
 16,
 5,
 19,
 8,
 5,
 3,
 5,
 3,
 26,
 3,
 8,
 7,
 8,
 9,
 6,
 9,
 7,
 9,
 19,
 13,
 9,
 7,
 7,
 6,
 8,
 11,
 11,
 3,
 8,
 12,
 3,
 5,
 21,
 7,
 8,
 9,
 10,
 9,
 14,
 5,
 7,
 7,
 14,
 4,
 8,
 3,
 5,
 9,
 18,
 2,
 9,
 8,
 8,
 11,
 6,
 12,
 7,
 6,
 19,
 4,
 24,
 9,
 6,
 17,
 6,
 26,
 9,
 25,
 7,
 16,
 6,
 5,
 10,
 9,
 5,
 7,
 13,
 4,
 22,
 8,
 6,
 9,
 8,
 4,
 8,
 5,
 3,
 6,
 9,
 7,
 9,
 4,
 9,
 12,
 12,
 11,
 5,
 8,
 8,
 16,
 6,
 9,
 11,
 3,
 6,
 7,
 11,
 10,
 7,
 5,
 5,
 6,
 8,
 12,
 6,
 3,
 7,
 24,
 3,
 6,
 14,
 9,
 3,
 10,
 6,
 6,
 3,
 7,
 14,
 7,
 12,
 6,
 2,
 8,
 23,
 11,
 14,
 4,
 7,
 3,
 6,
 12,
 14,
 10,
 2,
 10,
 9,
 5,
 3,
 9,
 19,
 6,
 3,
 13,
 10,
 5,
 8,
 5,
 9,
 13,
 11,
 7,
 8,
 8,
 6,
 5,
 14,
 19,
 3,
 11,
 9,
 9,
 13,
 8,
 3,
 6,
 1,
 10,
 8,
 5,
 6,
 8,
 24,
 7,
 19,
 1,
 8,
 11,
 9,
 3,
 13,
 11,
 9,
 10,
 6,
 6,
 6,
 9,
 10,
 14,
 13,
 13,
 18,
 13,
 6,
 4,
 3,
 7,
 1,
 5,
 9,
 11,
 6,
 5,
 19,
 5,
 17,
 9,
 7,
 6,
 15,
 14,
 11,
 7,
 8,
 15,
 21,
 10,
 14,
 16,
 7,
 13,
 7,
 13,
 21,
 9,
 5,
 7,
 11,
 11,
 16,
 9,
 12,
 6,
 18,
 5,
 10,
 10,
 1,
 4,
 6,
 9,
 5,
 10,
 16,
 11,
 4,
 6,
 7,
 6,
 4,
 3,
 13,
 5,
 11,
 17,
 10,
 11,
 6,
 10,
 11,
 20,
 10,
 19,
 9,
 5,
 9,
 12,
 9,
 10,
 2,
 13,
 5,
 8,
 10,
 8,
 3,
 8,
 4,
 11,
 7,
 5,
 3,
 6,
 5,
 8,
 7,
 8,
 5,
 8,
 5,
 13,
 6,
 18,
 5,
 8,
 8,
 11,
 4,
 8,
 10,
 6,
 5,
 9,
 8,
 10,
 11,
 8,
 6,
 11,
 5,
 7,
 15,
 7,
 24,
 8,
 7,
 11,
 7,
 13,
 22,
 13,
 6,
 8,
 7,
 8,
 4,
 7,
 5,
 10,
 6,
 4,
 9,
 8,
 5,
 6,
 7,
 7,
 8,
 9,
 3,
 8,
 5,
 4,
 18,
 10,
 17,
 7,
 10,
 5,
 9,
 9,
 23,
 18,
 7,
 7,
 5]

In [95]:
sum(res_list)

9189